* {
    margin: 0px;
    padding: 0px;
}
body{
    background-color: white;
    padding-bottom: 60px;
}
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* HEADER TOP */
.header_top{
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: orangered;
}
.logo {
    color: white;
    font-size: 33px;
    margin-left: 40px;
}
.header_top .user {
    display: flex;
    position: absolute;
    right: 20px;
}
.user img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.load {
    text-align: center;
    color: orangered;
    font-size: 40px;
    margin-top: 55px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.length_messages {
    margin-top: 45px;
    color: orangered;
    text-align: center;
    font-family: 'Poppins';
    font-size: 19px;
}
.section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
/* SUGGESTIONS */
.suggestions{
    width: 100%;
    height: auto;
    display: none;
}
/* PUBLICATIONS */
.publications {
    display: grid;
    grid-column: 1/4;
    flex-direction: column;
    width: 100%;
}
.publication{
    display: flex;
    flex-direction: column;
    width: 94%;
    margin: auto;
    padding: 20px 3%;
    color: black;
    font-family: 'Poppins';
    border-bottom: 1px solid rgb(128, 128, 128, .5);
}
.info_publication{
    display: flex;
    width: 100%;
    align-items: center;
}
.info_publication .image_publication {
    width: 55px;
    height: 55px;
    margin-right: 10px;
    border-radius: 50%;
}
.info_publication .info_user{
    width: 60%;
}
.info_publication .name_publication{
    font-size: 17px;
}
.info_publication .user_publication{
    font-size: 16px;
}
.info_publication .date_publication{
    text-align: right;
    width: 25%;
    font-size: 16px;
    margin-right: 10px;
}

.location_publication {
    display: flex;
    margin: 10px auto auto auto;
    width: 98%;
    font-weight: bold;
}

.message_publication {
    display: flex;
    margin: 3px auto 7px auto;
    width: 98%;
}

.likes_publication {
    display: flex;
    margin: auto;
    align-items: center;
    width: 98%;
}

.likes_publication i {
    margin-right: 4px;
    cursor: pointer;
}

@media screen and (min-width: 50em){
    .suggestions{
        display: flex;
        flex-direction: column;
        grid-column: 3/4;
        width: auto;
        height: 350px;
        margin: 30px 10px;
        border-radius: 5px;
        justify-content: right;
    }
    .suggestions .title_suggestions{
        text-align: right;
        margin: 10px 0;
        color: black;
        font-family: 'Poppins';
        font-size: 20px;
    }
    .suggestions .list_suggestions {
        width: 100%;
        height: auto;
        background-color: gray;
        text-align: right;
    }
    .publications{
        grid-column: 1/3;
    }
    .publication{
        width: auto;
        margin: 10px 20px;
    }
}

@media screen and (min-width: 65em){
    .suggestions{
        width: 70%;
        margin: 30px auto;
    }
}