* {
    margin: 0px;
    padding: 0px;
}
body{
    background-color: white;
    padding-bottom: 60px;
}
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* HEADER TOP */
.header_top{
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: orangered;
}
.logo {
    color: white;
    font-size: 33px;
    margin-left: 40px;
}
.header_top .user {
    display: flex;
    position: absolute;
    right: 20px;
}
.user img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.load {
    width: 100%;
    text-align: center;
    color: orangered;
    font-family: 'Poppins';
    font-size: 19px;
    margin-top: 20px;
}

.length_messages {
    margin-top: 45px;
    color: orangered;
    text-align: center;
    font-family: 'Poppins';
    font-size: 19px;
}
.form_new_message {
    display: flex;
    width: 100%;
    margin: 20px auto 0px auto;
}
.form_new_message #id_message{
    width: 90%;
    height: 40px;
    font-family: 'Poppins';
    padding: 0px 0px 0 15px;
    font-size: 16px;
    border: none;
    resize: none;
    border-bottom: 1px solid rgb(128, 128, 128, .5);
}
#id_message:hover{
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(128, 128, 128, .5);
}
.button_submit{
    display: flex;
    width: 10%;
    background-color: white;
    border-bottom: 1px solid rgb(128, 128, 128, .5);
    padding-right: 10px;
}
.button_submit .submit{
    display: flex;
    flex-direction: column;
    border: none;
    font-size: 15px;
    font-family: 'Poppins';
    opacity: 0;
    position: relative;
    z-index: 1;
}
.button_submit .send {
    font-size: 20px;
    position: relative;
    z-index: 0;
    right: 32px;
    top: 6px;
}

/* PUBLICATIONS */
.publications {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.publication{
    display: flex;
    flex-direction: column;
    width: 94%;
    margin: auto;
    padding: 14px 3%;
    color: black;
    font-family: 'Poppins';
    border-bottom: 1px solid rgb(128, 128, 128, .5);
}
.info_publication{
    display: flex;
    width: 100%;
    align-items: center;
}
.info_publication .image_publication {
    width: 55px;
    height: 55px;
    margin-right: 10px;
    border-radius: 50%;
}
.info_publication .info_user{
    width: 60%;
}
.info_publication .name_publication{
    font-size: 17px;
}
.info_publication .user_publication{
    font-size: 16px;
}
.info_publication .date_publication{
    text-align: right;
    width: 25%;
    font-size: 16px;
    margin-right: 10px;
}

.location_publication {
    display: flex;
    margin: 10px auto auto auto;
    width: 95%;
    font-weight: bold;
}

.message_publication {
    display: flex;
    margin: 3px auto 7px auto;
    width: 95%;
}

.likes_publication {
    display: flex;
    margin: auto;
    align-items: center;
    width: 95%;
}

.likes_publication i {
    margin-right: 4px;
    cursor: pointer;
}

