{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/core/headerrrrr.css' %}">
        <script src="https://kit.fontawesome.com/9702b0450a.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header class="header">
            <ul class="options_header">
                <li class="option_header"><a href="../feed"><i class="fa-solid fa-house"></i></a></li>
                <li class="option_header"><a><i class="fa-solid fa-magnifying-glass"></i></a></li>
                <li class="add_option"><a><i class="fa-solid fa-plus add"></i></a></li>
                <li class="option_header"><a href="../profile"><i class="fa-solid fa-user"></i></a></li>
                <li class="option_header"><a><i class="fa-solid fa-gear"></i></a></li>    
            </ul>
        </header>
        <div class="add_window">
            <a href="../new_message">Nuevo mensaje</a>
            <a href="../new_trip">Nuevo viaje</a>
        </div>
    </body>
    <script src="{% static 'js/core/header.js' %}"></script>
</html>

