* {
    margin: 0;
    padding: 0;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
}
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.header {
    background-color: orangered;
}
.photos_profile{
    width: 100%;
    height: 180px;
    background-color: rgb(73, 73, 73);
    cursor: pointer;
    object-fit: cover;
}
.photo_portate {
    width: 100%;
    height: 100%;
    border-bottom: 2px solid orangered;
    object-fit: cover;
}
.photo_profile {
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    left: 20px;
    bottom: 80px;
    border: 2px solid white;
}
/* WINDOW PHOTO */
.window_photo {
    display: none;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgb(0, 0, 0, .5);
    align-items: center;
}
.window_photo svg {
    position: fixed;
    top: 15px;
    right: 15px;
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.photo_window{
    display: flex;
    width: 100%;
    height: auto;
}

/* INFORMATION */
.information {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: 'Poppins';
    border-bottom: 2px solid rgb(157, 157, 157);
    padding-bottom: 15px;
}
.information .settings {
    display: flex;
    justify-content: right;
    width: 100%;
}
.information .setting {
    display: flex;
    width: auto;
    margin: 15px 15px 0px 15px;
    padding: 8px 11px;
    border: none;
    border-radius: 10px;
    font-family: 'Poppins';
    cursor: pointer;
}
.setting a {
    color: black;
    text-decoration: none;
}
.information .user {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.information .name {
    height: 25px;
    color: black;
    font-weight: bold;
    font-size: 19px;
}
.information .username {
    font-size: 15px;
    margin-bottom: 5px;
}
.information .description{
    font-size: 16px;
}

/* SECTION */
.sections {
    display: none;
    flex-direction: column;
    width: 100%;
}
.options {
    width: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2px;
    margin: 2px;
    text-align: center;
}
.options p {
    background-color: orangered;
    color: white;
    padding: 5px;
    font-family: 'Poppins';
    cursor: pointer;
}
.section {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}
.my_trips_section{
}
.my_messages_section{
    display: none;
}

.load {
    width: 100%;
    text-align: center;
    color: orangered;
    font-family: 'Poppins';
    font-size: 19px;
    margin-top: 20px;
}
/* MY TRIPS SECTION */
.my_trips{
    border-bottom: 2px solid black;
}

.trip {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
    margin: auto;
    margin-bottom: 25px;
    cursor: pointer;
}

.structure_trip{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    background-color: rgb(0, 0, 0, .1);
    border-radius: 5px;
}
.title_trip {
    font-size: 18px;
    width: 100%;
    margin-bottom: 5px;
    font-family: 'Poppins';
    font-weight: 500;
}
.trip img {
    width: 30%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

}
.trip .info_trip{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: auto;
    /*background-color: rgb(151, 151, 151);*/
    color: black;
    font-family: 'Poppins';
}
.info_trip .section1 {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    margin: auto;
}
.info_trip .location_trip {
    font-size: 16px;
    width: 100%;
}
.section1 .quantity_photos {
    width: 100%;
}
.section1 .separate {
    width: 100%;
    border: 1px solid rgb(0, 0, 0, .8);
    margin: 5px 0;
}


/* MY MESSAGES SECTION */
/* PUBLICATIONS */
.publications {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.publication{
    display: flex;
    flex-direction: column;
    width: 94%;
    margin: auto;
    padding: 0px 3% 14px 3%;
    color: black;
    font-family: 'Poppins';
    border-bottom: 1px solid rgb(128, 128, 128, .5);
}
.info_publication{
    display: flex;
    width: 100%;
    align-items: center;
}
.info_publication .image_publication {
    width: 55px;
    height: 55px;
    margin-right: 10px;
    border-radius: 50%;
}
.info_publication .info_user{
    width: 60%;
}
.info_publication .name_publication{
    font-size: 17px;
}
.info_publication .user_publication{
    font-size: 16px;
}
.info_publication .date_publication{
    text-align: right;
    width: 25%;
    font-size: 16px;
    margin-right: 10px;
}

.location_publication {
    display: flex;
    margin: 10px auto auto auto;
    width: 95%;
    font-weight: bold;
}

.message_publication {
    display: flex;
    margin: 3px auto;
    width: 95%;
}

.likes_publication {
    display: flex;
    margin: auto;
    align-items: center;
    width: 95%;
}

.likes_publication i {
    margin-right: 4px;
    cursor: pointer;
}