/* HEADER */
.header {
    display: flex;
    width: 98%;
    height: 60px;
    justify-content: center;
    position: fixed;
    bottom: 0px;
    padding: 0 1%;
    background-color: orangered;
}
.options_header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.options_header li {
    list-style: none;
    font-family: 'Poppins';
    text-align: center;
    font-size: 19px;
    cursor: pointer;
    width: 20%;
}
.options_header a{
    color: white;
}
.options_header .add{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 75%;
    color: orangered;
    background-color: white;
    border-radius: 10%;
    font-size: 30px;
    margin: auto;
}
.options_header .option_orangered{
    color: orangered;
}
.option_div{
    display: flex;
    flex-direction: column;
}
.logo_orangered{
    color: white;
    background-color: orangered;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    font-size: 30px;
    padding: 15px;
}

.add_window {
    display: none;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    position: fixed;
    bottom: 60px;
}
.add_window a {
    text-align: center;
    background-color: orangered;
    color: white;
    font-size: 18px;
    font-family: 'Poppins';
    padding: 15px 0;
    text-decoration: none;
}
