{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/feed/countries_search.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&family=Eczar:wght@500;600;700;800&family=Playfair+Display:ital,wght@0,700;0,800;0,900;1,700;1,800;1,900&family=Poppins:wght@400;500;600&family=Roboto:wght@400;500;700&family=Rubik:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">    
        <script src="https://kit.fontawesome.com/9702b0450a.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
            {% include 'core/header_top.html' %}
            <i class="fa-solid fa-spinner load"></i>
            <div class="section">
                <div class="section_center">
                    <p class="title_country">Mensajes sobre {{request.path|slice:"16::"}}</p>
                    {% if messages_country|length == 0 %}
                        <p class="length_messages">No hay mensajes disponibles.<br><br>¡Sigue a otros usuarios o publica tus propios mensajes!</p>
                    {% else %}
                    <div class="publications">
                        {% for m in messages_country %}
                            <div class="publication">
                                <div class="info_publication">
                                    <a href="{% url 'profile' user=m.user.username%}">
                                    {% if m.user.image_profile != '' %}
                                    <img class="image_publication" src="{% url 'get_image_user' image=m.user.image_profile user=m.user.username%}">
                                    {% else %}
                                    <img class="image_publication" src="{% static 'images/profile.png' %}">
                                    {% endif %}        
                                    </a>                    
                                    <div class="info_user">
                                        <p class="name_publication">{{m.user.first_name}}</p>
                                    </div>
                                    <p class="date_publication">{{m.date|date:'d M'}}</p>
                                </div>
                                <a href="{% url 'search_country' country=m.location%}" class="location_publication"><p>{{m.location}}</p></a>
                                <p class="message_publication">{{m.message}}</p>
                                <p class="likes_publication"><i class="fa-regular fa-heart"></i> {{m.likes}}</p>
                            </div>
                            {% endfor %}
                    </div>
                    {% endif %}
                </div>
                <div class="suggestions">
                    <p class="title_suggestions">Albums sobre {{request.path|slice:"16::"}}</p>
                    <div class="list_suggestions">
                        {% if trips_country|length == 0 %}
                                <p class="length_messages">No hay albumes disponibles.<br><br>¡Sigue a otros usuarios o publica tus propios albumes!</p>
                        {% else %}
                            {% for el in trips_country %}
                                {% load envs %}
                                <div class="suggestion">
                                    <img src='../../image/{{el.location}}/{% split el.images.images %}/{{el.user.username}}/'>
                                    <div class="div_suggestion">
                                        <a>{{el.title}}</a>
                                        <hr></hr>
                                        <p>Album de {{el.user.username}}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}                            
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="{% static 'js/feed/countries_search.js' %}"></script>
</html>