{% load static %}
{% load envs %}

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/feed/feeddd.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&family=Eczar:wght@500;600;700;800&family=Playfair+Display:ital,wght@0,700;0,800;0,900;1,700;1,800;1,900&family=Poppins:wght@400;500;600&family=Roboto:wght@400;500;700&family=Rubik:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">    
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    </head>
    <body>
        <p class="id_user" style="display:none;">{{request.user.id}}</p>
        <div class="container">
            {% include 'core/header_top.html' %}
            <i class="fa-solid fa-spinner load"></i>
            <div class="section">
                {% include 'core/header.html' %}
                <div class="section_center">
                    {% if list_messages|length == 0 %}
                        <p class="length_messages">No hay mensajes disponibles.<br><br>¡Sigue a otros usuarios o publica tus propios mensajes!</p>
                    {% else %}
                        <p class="title_feed">Últimas publicaciones de tus seguidores...</p>
                        <div class="publications">
                            
                            {% for m in list_messages %}
                                <div class="publication" id={{m.id}}>
                                    <div class="info_publication">
                                        <a href="{% url 'profile' user=m.user.username%}">
                                        {% if m.user.image_profile != '' %}
                                        <img class="image_publication" src="{% url 'get_image_user' image=m.user.image_profile user=m.user.username%}">
                                        {% else %}
                                        <img class="image_publication" src="{% static 'images/profile.png' %}">
                                        {% endif %}        
                                        </a>                    
                                        <div class="info_user">
                                            <p>{{m.user.username}}</p>
                                        </div>
                                        <p class="date_publication">{{m.date|date:'d M'}}</p>
                                    </div>
                                    <p class="location_publication">{{m.location}}</p>
                                    <p class="message_publication">{{m.message}}</p>
                                    <div class="likes_publication">
                                        {% if request.user.id|string in m.likes|contain_like %}
                                        <span class="material-symbols-outlined" style="color:red" id="favorite">
                                        favorite
                                        </span> 
                                        {% else %}
                                        <span class="material-symbols-outlined" style="color:white" id="favorite">
                                            favorite
                                        </span> 
                                        {% endif %}
                                        <p class="count_likes">{{m.likes|len_likes}}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="suggestions">
                    <p class="title_suggestions">Sugerencias</p>
                    <div class="list_suggestions">
                        {% for el in list_suggestions %}
                        <div class="suggestion">
                            {% if el.image_profile != '' %}
                                <img class="image_publication" src="{% url 'get_image_user' image=el.image_profile user=el.username%}">
                            {% else %}
                                <img class="image_publication" src="{% static 'images/profile.png' %}">
                            {% endif %}
                            <a href="{% url 'profile' user=el.username%}">{{el}}</a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <input id="DEBUG" value="{% get_env 'DEBUG' %}" type="hidden"> 
    </body>
    <script src="{% static 'js/feed/feeddD.js' %}"></script>
    <script src="{% static 'js/likes.js' %}"></script>
</html>