{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/feed/feed.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&family=Eczar:wght@500;600;700;800&family=Playfair+Display:ital,wght@0,700;0,800;0,900;1,700;1,800;1,900&family=Poppins:wght@400;500;600&family=Roboto:wght@400;500;700&family=Rubik:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">    
        <script src="https://kit.fontawesome.com/9702b0450a.js" crossorigin="anonymous"></script>
    <body>
        <div class="container">
            <header class="header">
                <ul class="options_header">
                    <li class="option_header"><a href=""><i class="fa-solid fa-house"></i></a></li>
                    <li class="option_header"><a><i class="fa-solid fa-magnifying-glass"></i></a></li>
                    <li><i class="fa-solid fa-plane-departure logo"></i></li>
                    <li class="option_header"><a href="../profile"><i class="fa-solid fa-user"></i></a></li>
                    <li class="option_header"><a><i class="fa-solid fa-gear"></i></a></li>    
                </ul>
            </header>
            <p class="title">Ultimas publicaciones</p>
            <div class="publications">
                <div class="publication">
                    <div class="info_publication">
                        <img class="image_publication" src="https://images.unsplash.com/photo-1648183185045-7a5592e66e9c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8Zm90byUyMGRlJTIwcGVyZmlsfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60">
                        <p class="user_publication">Gino01</p>
                        <p class="date_publication">16 Jul</p>
                    </div>
                    <p class="message_publication">El 6 de Agosto me voy a Italia y va ser mi primer viaje en avion!!</p>
                    <p class="likes_publication"><i class="fa-regular fa-heart"></i> 6</p>
                </div>
                <div class="publication">
                    <div class="info_publication">
                        <img class="image_publication" src="https://images.unsplash.com/photo-1648183185045-7a5592e66e9c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8Zm90byUyMGRlJTIwcGVyZmlsfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60">
                        <p class="user_publication">Gino01</p>
                        <p class="date_publication">16 Jul</p>
                    </div>
                    <p class="message_publication">El 6 de Agosto me voy a Italia y va ser mi primer viaje en avion!!</p>
                    <p class="likes_publication"><i class="fa-regular fa-heart"></i> 6</p>
                </div>
            </div>
        </div>

    </body>
</html>